<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="styles/login.css">
  <title>Student Login</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" method="post" action="<%=action%>">
        <input type="text" placeholder="User Id" name="id"/>
        <input type="password" placeholder="password" name="password"/>
        <%if(flag===1){%>
          <p style="color:red">Invalid Details!</p>
          <%}%>
        <%if(flag===2){%>
            <p style="color:red">Time Table not Published yet!</p>
            <%}%>
        <button type="submit">login</button>
      </form>
    </div>
  </div>
</body>
</html>